@media all and (min-width: 1200px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  html {
    font-size: 9px;
  }
  .home-service .service-list .service-item {
    width: calc(100%/3 - 10px);
  }
  .home-grateful .customer-info-box .customer-avatar {
    height: 10.8rem;
    max-width: 14.4rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 8px;
  }
  header .navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 15px;
    z-index: 999999;
    color: #fff;
    margin: 0px;
    display: block;
    color: #000;
    font-size: 25px;
    margin-top: 8px;
  }
  header .header-top {
    display: none;
  }
  header .header-middle {
    margin-top: 10px;
  }
  header .header-middle .header-logo {
    text-align: center;
    margin-bottom: 10px;
  }
  header .header-middle .header-logo img {
    max-height: 42px;
  }
  header .header-middle .header-hotline {
    display: none;
  }
  header .header-menu {
    background-color: #333;
    position: fixed;
    top: 0px;
    left: 0;
    background-color: #333333;
    bottom: 0px;
    width: 280px;
    padding: 10px;
    z-index: 999999;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    border: 1px solid #e6e6e6;
  }
  header .header-menu.show-megamenu {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  header .header-menu .container {
    width: auto;
    padding: 0;
  }
  header .header-menu #remove-menu {
    padding: 10px;
    z-index: 10;
    cursor: pointer;
    display: block !important;
    text-align: right;
  }
  header .header-menu .main-nav ul li .show-submenu-btn {
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    top: 0;
    z-index: 10;
    padding: 0;
    cursor: pointer;
    margin-right: 10px;
    right: -10px;
    left: auto;
    height: 29.6px;
    background-color: #666;
    color: #fff;
    width: 30px;
    text-align: center;
    line-height: 29.6px;
  }
  header .header-menu .main-nav ul li .show-submenu-btn.active:before {
    content: "\f068";
  }
  header .header-menu .main-nav > ul > li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
    float: none !important;
    width: auto;
    background: none;
    position: relative;
    margin: 0px -1px;
  }
  header .header-menu .main-nav > ul > li > a {
    font-weight: 700;
    padding: 9px;
    padding-left: 0;
  }
  header .header-menu .main-nav > ul > li > ul.sub-menu.active {
    display: block;
    position: static;
  }
  header .header-menu .main-nav > ul > li > ul.sub-menu li {
    border-bottom: unset;
  }
  header .header-menu .main-nav > ul > li > ul.sub-menu a {
    color: #fff !important;
  }
  header .header-menu .main-nav ul li:hover > ul {
    display: unset;
  }
  header .main-nav > ul ul {
    pointer-events: all;
    position: static !important;
  }
  .home-introduce .introduce-image {
    display: none;
  }
  .history-begin .tree-diagram-history .tree-diagram-list .tree-diagram-item {
    padding: 2rem;
  }
  .vision-mission .row .col-md-6 {
    width: 50%;
  }
  .leadership-team {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .leadership-team .leadership-team-info {
    margin-bottom: 2rem;
  }
  .news-page .news-page-posters {
    font-size: 0;
  }
  .news-page .news-page-posters .poster-item {
    width: 50%;
    display: inline-block;
  }
  .news-page .news-page-posters .poster-item:nth-child(odd) {
    padding-right: 1rem;
  }
  .news-page .news-page-posters .poster-item:nth-child(even) {
    padding-left: 1rem;
  }
  .news-page .lastest-news-bigtitle {
    height: auto;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  footer .footer-info-list {
    margin-bottom: 1.5rem;
  }
  .news-page .lastest-news .lastest-news-item {
    clear: none;
    display: inline-block;
    width: 50%;
  }
  .news-page .lastest-news .lastest-news-item:nth-child(odd) {
    padding-right: 1rem;
  }
  .news-page .lastest-news .lastest-news-item:nth-child(even) {
    padding-left: 1rem;
  }
}

@media (max-width: 768PX) {
  .home-service .service-list .service-item {
    width: calc(100%/2 - 10px);
  }
  .home-news .hot-news-detail {
    margin-bottom: 1.5rem;
  }
  .home-news .hot-news-image img {
    max-height: 300PX;
  }
  footer {
    padding-bottom: 3rem;
  }
  footer div[class^="col"]:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .home-news .small-news .small-news-info .small-news-desc {
    display: block;
  }
  .history-begin .tree-diagram-history .tree-diagram-list .tree-diagram-item:nth-child(even) .diagram-body {
    padding-left: 0;
  }
  .history-begin .tree-diagram-history .tree-diagram-list .tree-diagram-item .diagram-body {
    width: 100%;
    padding: 0;
  }
  .history-begin .tree-diagram-history .tree-diagram-list .tree-diagram-item .diagram-body:before, .history-begin .tree-diagram-history .tree-diagram-list .tree-diagram-item .diagram-body:after {
    content: none;
  }
  .about-us-brands .brands-sliders .brands-sliders-item .c-img {
    padding-top: 50%;
  }
}

@media (max-width: 470px) {
  footer .footer-info-list {
    display: none;
  }
  footer .footer-info-title {
    font-size: 14px;
    position: relative;
    border-bottom: 1px solid #fff;
    padding: 0 0 10px 10px;
    cursor: pointer;
    margin-top: 0;
  }
  footer .footer-info-title:before {
    content: "\f107";
    display: block;
    font-family: fontawesome;
    position: absolute;
    top: 0;
    right: 10px;
  }
  footer .footer-info-title.active:before {
    content: "\f106";
  }
  .vision-mission .row .col-md-6 {
    width: 100%;
  }
  .vision-mission .flex-sm-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }
  .col-xxs-12 {
    width: 100%;
  }
  .news-page .news-page-posters {
    font-size: 0;
  }
  .news-page .news-page-posters .poster-item {
    width: 100%;
  }
  .news-page .news-page-posters .poster-item:nth-child(odd) {
    padding-right: 0;
  }
  .news-page .news-page-posters .poster-item:nth-child(even) {
    padding-left: 0;
  }
}
