a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}

ol, ul, li {
  padding: 0;
  list-style: none;
  margin: 0;
}

label {
  font-weight: normal;
}
button
{
  outline: none !important;
  border: none !important;
}

input[type="text"], input[type="email"], input[type="password"] {
  padding-left: 12px;
  padding-right: 12px;
}

select {
  padding-left: 8px;
}

input[type="number"] {
  padding-left: 5px;
}

textarea {
  padding: 8px 12px 5px 12px;
}

input, textarea, select, button, a {
  outline: none;
}

button {
  border: none;
  background: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  object-fit: cover;
}

.relative {
  position: relative;
}

.static {
  position: static;
}

.absolute {
  position: absolute;
}

.text-justify {
  text-align: justify;
}

.clearfix:before, .clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.row-ibl {
  font-size: 0;
}

.row-ibl > [class^="col-"] {
  font-size: 14px;
  float: none;
  display: inline-block;
  vertical-align: top;
}

.row-ibl:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.row-ibl.mid > [class^="col-"] {
  vertical-align: middle;
}

.row-ibl.bot > [class^="col-"] {
  vertical-align: bottom;
}

.row-ibl > [class^="col-"].i-mid {
  vertical-align: middle;
}

.row-ibl > [class^="col-"].i-top {
  vertical-align: top;
}

.row-ibl > [class^="col-"].i-bot {
  vertical-align: bottom;
}

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica-Font/Helvetica.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

.c-img {
  display: block;
  position: relative;
  padding-top: 100%;
}

.c-img img, .c-img .bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.smooth {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.row10 {
  margin-left: -10px;
  margin-right: -10px;
}

.col10 {
  padding-left: 10px;
  padding-right: 10px;
}

.row0 {
  margin-left: 0px;
  margin-right: 0px;
}

.col0 {
  padding-left: 0px;
  padding-right: 0px;
}

.row5 {
  margin-left: -5px;
  margin-right: -5px;
}

.col5 {
  padding-left: 5px;
  padding-right: 5px;
}

.s-content ol {
  list-style: decimal;
  margin-left: 15px;
  margin-bottom: 10px;
}

.s-content ul {
  list-style: initial;
  margin-left: 15px;
  margin-bottom: 10px;
}

.s-content li {
  list-style: inherit;
  margin-bottom: 5px;
}

.s-content p {
  margin-bottom: 1rem;
}

.s-content img {
  display: block;
  max-width: 100%;
  margin: 10px auto;
  width: auto !important;
  height: auto !important;
}

.s-content table, .s-content iframe {
  max-width: 100%;
}

.hv-scale {
  overflow: hidden;
  display: block;
}

.hv-scale img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hv-scale:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.hv-light {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  background: #fff;
}

.hv-light:before, .hv-light:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.hv-light:before {
  right: 0;
  bottom: 0;
  background: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hv-light:after {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.75s ease-in-out;
  -moz-transition: 0.75s ease-in-out;
  -ms-transition: 0.75s ease-in-out;
  -o-transition: 0.75s ease-in-out;
  transition: 0.75s ease-in-out;
  -webkit-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  -moz-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  -o-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  -ms-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}

.hv-light:hover:before {
  background: rgba(242, 211, 0, 0.2);
}

.hv-light:hover:after {
  -webkit-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  -moz-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  -o-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  -ms-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}

.hv-border-inline-bg {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background: #000;
  vertical-align: top;
}

.hv-border-inline-bg:before, .hv-border-inline-bg:after {
  bottom: 20px;
  content: "";
  left: 20px;
  opacity: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  -webkit-transition: opacity 0.45s ease 0s, transform 0.45s ease 0s;
  -o-transition: opacity 0.45s ease 0s, transform 0.45s ease 0s;
  transition: opacity 0.45s ease 0s, transform 0.45s ease 0s;
  z-index: 1;
}

.hv-border-inline-bg:before {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  transform: scale(0, 1);
}

.hv-border-inline-bg:after {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
}

.hv-border-inline-bg img {
  opacity: 1;
  width: 100%;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 0.45s ease 0s;
  -o-transition: opacity 0.45s ease 0s;
  transition: opacity 0.45s ease 0s;
}

.hv-border-inline-bg:hover:before, .hv-border-inline-bg:hover:after {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.hv-border-inline-bg:hover img {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.text3line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.text4line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.text5line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

body {
  background-color: #fff;
  color: #666;
  font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  width: 100%;
}

a:hover {
  color: #EA0909;
}

header .header-top {
  background: #2a7f49;
  color: #fff;
}

header .header-top .header-top-row {
  margin: 5px 0;
}

header .header-top .header-top-row .header-top-item {
  display: inline-block;
  float: left;
  padding: 0 10px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  line-height: 20px;
}

header .header-top .header-top-row .header-top-item a {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

header .header-top .header-top-row .header-top-item i {
  margin-right: 5px;
}

header .header-top .header-top-row .header-top-list-right {
  float: right;
}

header .header-top .header-top-row .header-top-list-right .header-top-item:hover .account-list {
  visibility: visible;
  opacity: 1;
}

header .header-top .header-top-row .header-top-list-right .account-list {
  position: absolute;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s all ease-in-out;
  z-index: 9;
}

header .header-top .header-top-row .header-top-list-right .account-list .account-item {
  float: left;
  width: 100%;
}

header .header-top .header-top-row .header-top-list-right .account-list .account-item:hover a {
  background: #32a22d;
  color: #fff;
}

header .header-top .header-top-row .header-top-list-right .account-list .account-item a {
  padding: 5px 20px;
  width: 100%;
  background: #2a7f49;
  float: left;
}

header .header-middle {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

header .header-middle .header-logo img {
  max-height: 70px;
  height: auto;
}

header .header-middle .header-search form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
}

header .header-middle .header-search .header-search-ip {
  width: 100%;
  float: left;
  display: flex;
  flex-shrink: 0;
  margin-bottom: 10px;
}

header .header-middle .header-search .header-search-ip .header-search-text {
  width: 100%;
}

header .header-middle .header-search .header-search-ip .header-search-text input[type="text"] {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
  outline-width: 0px;
}

header .header-middle .header-search .header-search-ip .header-search-text input[type="text"]:focus {
  border-color: #ccc;
}

header .header-middle .header-search .header-search-ip .search-submit {
  background-color: #2a7f49;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  display: inline-block;
  margin: 0;
  padding: 5px 15px;
  color: #fff;
  cursor: pointer;
}

header .header-middle .header-search .header-search-ip .search-submit:hover {
  background-color: #EA0909;
}

header .header-middle .header-search .search-type {
  float: left;
  width: 100%;
  display: flex;
}

header .header-middle .header-search .search-type .search-type-title {
  font-weight: 700;
  color: #4B4B4B;
  font-size: 14px;
}

header .header-middle .header-search .search-type .header-search-list {
  float: left;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

header .header-middle .header-search .search-type .header-search-list .header-search-item {
  float: left;
  display: flex;
  padding: 0 2rem;
  align-items: center;
}

header .header-middle .header-search .search-type .header-search-list .header-search-item input[type="radio"] {
  margin: 0;
  margin-right: 5px;
  width: 1.8rem;
  height: 1.8rem;
  border: 0px;
  float: left;
  clear: left;
}

header .header-middle .header-hotline {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  vertical-align: top;
  align-self: flex-start;
}

header .header-middle .header-hotline img {
  max-width: 4.5rem;
  object-fit: cover;
  object-position: center;
  height: auto;
  margin-right: 5px;
}

header .header-middle .header-hotline .header-phone-number {
  float: left;
  font-weight: 700;
  color: #363;
  font-size: 3rem;
  white-space: nowrap;
}

header .header-middle .header-hotline .header-phone-number:hover {
  color: #32a22d;
}

header .header-menu {
  width: 100%;
  background-color: #2a7f49;
}

header .header-menu .main-nav #remove-menu {
  display: none;
}

header .header-menu .main-nav ul li {
  display: inline-block;
  position: relative;
  float: left;
}

header .header-menu .main-nav ul li a {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 14px;
  color: #fff;
  white-space: nowrap;
  padding: 12px;
  display: block;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
}

header .header-menu .main-nav ul li .menu-down {
  color: #fff;
  position: absolute;
  right: 0;
  top: 34%;
  font-size: 13px;
}

header .header-menu .main-nav ul li ul.sub-menu {
  display: none;
  left: 0;
  min-width: 220px;
  position: absolute;
  text-align: left;
  top: 100%;
  background: none repeat scroll 0 0 #fff;
  transition: all 0.5s ease 3s;
  z-index: 99;
}

header .header-menu .main-nav ul li ul.sub-menu li {
  float: left;
  width: 100%;
  padding: 0 15px;
  border-bottom: 1px dotted #ccc;
  transition: 0.1s all;
  border-left: transparent 3px solid;
}

header .header-menu .main-nav ul li ul.sub-menu li:hover {
  text-decoration: none;
  background-color: #f5f5f5;
  border-left: red 3px solid;
}

header .header-menu .main-nav ul li ul.sub-menu li a {
  color: #222;
  width: 100%;
  border: 0;
  line-height: 21px;
  padding: 4px 0;
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;
  text-transform: none;
}

header .header-menu .main-nav ul li ul.sub-menu li a:before {
  content: none;
}

header .header-menu .main-nav ul li ul.sub-menu li ul {
  left: 100.2%;
  top: 0;
}

header .header-menu .main-nav ul li:hover > ul {
  display: block;
  transition: all 0.5s ease;
}

header .header-menu .main-nav ul > li.current-active > a {
  text-transform: uppercase;
  color: #ff8b02;
}

header .header-menu .main-nav ul > li > a {
  text-transform: uppercase;
  transition: 0.3s all;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

header .header-menu .main-nav ul > li > a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #fff;
  height: 3px;
  -webkit-transition-property: left right;
  transition-property: left right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

header .header-menu .main-nav ul > li > a:hover:before {
  left: 0;
  right: 0;
}

.home-slider:hover .slick-arrow, .home-doctor-slider:hover .slick-arrow {
  opacity: 1;
}

.home-slider .slick-arrow, .home-doctor-slider .slick-arrow {
  opacity: 0;
  color: #000;
  font-size: 4rem;
  display: inline-block;
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 45%;
  margin-top: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  z-index: 9;
  font-family: "fontawesome";
  text-align: center;
  line-height: 4rem;
  cursor: pointer;
}

.home-slider .slick-arrow.slick-arrow-right, .home-doctor-slider .slick-arrow.slick-arrow-right {
  right: 0;
}

.home-slider .slick-arrow:hover, .home-doctor-slider .slick-arrow:hover {
  background-color: #EA0909;
  color: #fff;
}

.home-slider .slick-dots, .home-doctor-slider .slick-dots {
  display: block;
  text-align: center;
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.home-slider .slick-dots li, .home-doctor-slider .slick-dots li {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
}

.home-slider .slick-dots li button, .home-doctor-slider .slick-dots li button {
  width: 8px;
  height: 8px;
  margin: 5px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
  border: solid 1px #000;
  background: #fff;
  opacity: .2;
}

.home-slider .slick-dots li.slick-active button, .home-doctor-slider .slick-dots li.slick-active button {
  opacity: 1;
}

.home-doctor-slider .slick-arrow-left {
  left: 10px;
}

.home-doctor-slider .slick-arrow-right {
  right: 10px;
}

.home-departments {
  padding: 3rem 0;
  position: relative;
}

.home-departments .department-list .department-item .department-image {
  width: 100%;
  text-align: center;
}

.home-departments .department-list .department-item .department-name {
  text-align: center;
  font-weight: 700;
  color: #222;
}

.home-departments .department-list .department-item:hover .department-name {
  color: #EA0909;
}

.home-introduce {
  padding: 3rem 0;
  background: #f9f9f9;
}

.home-introduce .introduce-desc {
  font-size: 15px;
  letter-spacing: 0.25px;
}

.home-introduce .introduce-desc p {
  line-height: 24px;
}

.home-introduce .introduce-image img {
  margin: 0 auto;
  border: #2a7f49 3px double;
  border-radius: 20px 20px 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.introduce-title {
  position: relative;
  margin-bottom: 2rem;
  text-align: center;
}

.introduce-title:before {
  content: "";
  display: block;
  border-top: #2a7f49 3px double;
  position: absolute;
  z-index: 0;
  width: 50%;
  margin: auto;
  left: 25%;
  top: 50%;
}

.introduce-title a {
  color: #fff;
  background: #2a7f49;
  padding: 5px 2rem;
  -webkit-transform: skew(-36deg);
  -ms-transform: skew(-36deg);
  transform: skew(-36deg);
  display: inline-block;
  font-weight: 700;
}

.introduce-title a:hover {
  background-color: #EA0909;
}

.introduce-title span {
  -webkit-transform: skew(36deg);
  -ms-transform: skew(36deg);
  transform: skew(36deg);
  display: inline-block;
  font-size: 2.3rem;
  line-height: normal;
  letter-spacing: 0.25px;
}

.home-service {
  padding: 3rem 0;
  background: #f8f5e6;
}

.home-service .service-list {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.home-service .service-list .service-item {
  float: left;
  width: calc(100%/4 - 10px);
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}

.home-service .service-list .service-item .service-image {
  text-align: center;
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

.home-service .service-list .service-item .service-image img {
  border: 2px solid #2a7f49;
  border-radius: 50%;
  max-width: 165px;
  height: 165px;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.home-service .service-list .service-item .service-image img:hover {
  border-color: #e70707;
  opacity: 0.5;
}

.home-service .service-list .service-name {
  float: left;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
  text-align: center;
}

.home-doctor .doctor-name-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./../images/another/img-bg-doctor.png);
  margin-bottom: 2rem;
}

.home-doctor .doctor-name-box .doctor-name-bg {
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  line-height: 57px;
  font-weight: 700;
}

.home-doctor .doctor-name-box .doctor-name-bg span {
  font-weight: 400;
}

.home-doctor .doctor-main-info {
  margin-bottom: 2rem;
  font-size: 15px;
}

.home-doctor .doctor-main-info .doctor-education {
  font-size: 1.8rem;
  color: #2a7f49;
  margin-bottom: 1rem;
  font-weight: 600;
}

.home-doctor .doctor-main-info .doctor-name {
  font-size: 2.4rem;
  color: #2a7f49;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 700;
}

.home-doctor .doctor-main-info .doctor-position {
  font-size: 15px;
  color: #2a7f49;
}

.home-doctor .doctor-item-detail {
  margin-bottom: 2rem;
}

.home-doctor .doctor-item-detail p:not(:last-child) {
  margin-bottom: 1rem;
}

.home-news {
  padding: 3rem 0;
}

.home-news .hot-news-box {
  text-align: center;
}

.home-news .hot-news-image {
  position: relative;
  display: inline-block;
}

.home-news .hot-news-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.home-news .hot-news-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.home-news .hot-news-image:hover:before {
  top: 50%;
  bottom: 50%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  background-color: rgba(255, 255, 255, 0.5);
}

.home-news .hot-news-image:hover:after {
  left: 50%;
  right: 50%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  background-color: rgba(255, 255, 255, 0.5);
}

.home-news .hot-news-image img {
  max-height: 375px;
  object-fit: contain;
}

.home-news .hot-news-detail {
  margin-top: 1.5rem;
}

.home-news .hot-news-detail .hot-news-title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 1rem;
}

.home-news .small-news .small-new-image {
  height: 100px;
  max-width: 100px;
  text-align: center;
}

.home-news .small-news .small-new-image img {
  height: 100%;
  object-fit: cover;
}

.home-news .small-news .small-news-info {
  width: calc(100% - 120px);
  vertical-align: top;
  margin-left: 1.5rem;
}

.home-news .small-news .small-news-info .small-news-title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.home-news .small-news .small-news-info .small-news-desc {
  display: none;
}

.home-news .small-news .small-news-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.home-news .small-news .small-news-item:not(:last-child) {
  margin-bottom: 2rem;
}

.home-news .news-video iframe {
  width: 100%;
  min-height: 360px;
}

.home-grateful {
  background: #ebebeb;
  padding: 3rem 0;
}

.home-grateful .customer-info-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
  background: #8CCECA;
  position: relative;
}

.home-grateful .customer-info-box:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 0px;
  border-color: transparent transparent #ebebeb transparent;
  position: absolute;
  bottom: 0;
  left: 25%;
}

.home-grateful .customer-info-box .customer-avatar {
  height: 108px;
  overflow: hidden;
  max-width: 144px;
  border: 3px solid #fff;
  border-radius: 20px 20px 0;
}

.home-grateful .customer-info-box .customer-info {
  float: left;
  width: calc(100% - 144px);
  padding: 0 10px;
  font-style: italic;
  color: #4B4B4B;
  font-size: 15px;
}

.home-grateful .customer-info-box .customer-info .customer-name {
  color: #4B4B4B;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.home-grateful .grateful-detail-box {
  background: #fff;
  padding: 1rem;
  min-height: 85px;
}

.home-grateful .grateful-detail {
  font-size: 14px;
  color: #4B4B4B;
  position: relative;
}

.home-grateful .grateful-detail:before {
  content: "\f10d";
  font-size: 16px;
  font-family: fontawesome;
}

footer {
  background-color: #2a7f49;
  padding-top: 3rem;
  color: #fff;
  padding-bottom: 5rem;
}

footer .footer-info-title {
  font-size: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
}

footer .footer-info-list .footer-info-item {
  font-size: 15px;
  margin-bottom: 0.5rem;
}

footer .footer-info-list .footer-info-item a:hover {
  padding-left: 10px;
  color: #EA0909;
  transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
}

footer .footer-social-links a {
  text-align: center;
  width: 3.5rem;
  height: 3.5rem;
  color: #2a7f49;
  border: #dedede 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-border-radius: 10px 0;
  border-radius: 10px 0;
  -webkit-transition: all ease 500ms;
  -moz-transition: all ease 500ms;
  -ms-transition: all ease 500ms;
  -o-transition: all ease 500ms;
  transition: all ease 500ms;
  float: left;
  margin-right: 10px;
  background-color: #fff;
}

footer .footer-social-links a:hover {
  background-color: #EA0909;
  color: #fff;
  border: #EA0909 1px solid;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  cursor: pointer;
  background-color: #666;
  border: 4px solid #ddd;
  color: #ddd;
  line-height: 42px;
  text-align: center;
  width: 48px;
  height: 48px;
  z-index: 30;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  opacity: 1;
  right: 20px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.back-to-top:hover {
  background-color: #444;
}

.breadcrumb-page {
  background-color: #ebebeb;
  margin: 0;
  padding: 10px 0;
}

.breadcrumb-page .breadcrumb {
  background-color: #ebebeb;
  margin: 0;
  padding: 0;
  border-radius: none;
}

.breadcrumb-page .breadcrumb a {
  color: #4f4f4f;
}

.breadcrumb-page .breadcrumb a:hover {
  color: #EA0909;
}

.breadcrumb-page .breadcrumb > li + li:before {
  content: "/";
}

.about-us-page-body {
  color: #4B4B4B;
  letter-spacing: 0.25px;
}

.about-us-page-body .about-us-title {
  font-weight: 700;
  font-size: 2.3rem;
  color: #222;
  text-transform: uppercase;
  margin-bottom: 2rem;
  position: relative;
}

.about-us-page {
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.history-begin {
  background: url(../images/slides/slide-1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.history-begin:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000080;
}

.history-begin .about-us-title {
  color: #fff;
  text-align: center;
}

.history-begin .tree-diagram-history {
  text-align: center;
  position: relative;
  float: left;
}

.history-begin .tree-diagram-history .tree-diagram-list:before {
  content: "";
  display: block;
  position: absolute;
  border-left: 1rem solid #2a7f49;
  top: 0;
  bottom: 0;
  left: calc(50% - 1rem);
}

.history-begin .tree-diagram-history .tree-diagram-list .tree-diagram-item {
  padding: 3rem 3rem;
  float: left;
}

.history-begin .tree-diagram-history .tree-diagram-list .tree-diagram-item .diagram-body {
  float: left;
  width: calc(100%/2);
  padding-right: 4rem;
  position: relative;
}

.history-begin .tree-diagram-history .tree-diagram-list .tree-diagram-item .diagram-body:before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 0.8rem);
  border-top: 0.8rem solid #2a7f49;
  right: 0;
  width: 50%;
  z-index: 0;
  z-index: 0;
}

.history-begin .tree-diagram-history .tree-diagram-list .tree-diagram-item .diagram-body:after {
  content: "";
  display: block;
  border: 1rem solid #ed1212;
  height: 0;
  width: 0;
  position: absolute;
  right: -0.4rem;
  top: calc(50% - 1.4rem);
  border-radius: 50%;
  z-index: 2;
}

.history-begin .tree-diagram-history .tree-diagram-list .tree-diagram-item .diagram-body .diagram-content {
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0 2px 6px #ccc;
  box-shadow: 0 2px 6px #ccc;
  padding: 2rem;
  background: #fff;
}

.history-begin .tree-diagram-history .tree-diagram-list .tree-diagram-item .diagram-body .diagram-content .diagram-content-title {
  font-weight: 700;
  font-size: 1.8rem;
  padding: 10px;
}

.history-begin .tree-diagram-history .tree-diagram-list .tree-diagram-item:nth-child(odd) .diagram-body {
  float: left;
}

.history-begin .tree-diagram-history .tree-diagram-list .tree-diagram-item:nth-child(even) .diagram-body {
  float: right;
  padding-left: 4rem;
  padding-right: 0;
}

.history-begin .tree-diagram-history .tree-diagram-list .tree-diagram-item:nth-child(even) .diagram-body:before {
  left: 0;
  right: auto;
}

.history-begin .tree-diagram-history .tree-diagram-list .tree-diagram-item:nth-child(even) .diagram-body:after {
  left: -1.5rem;
  right: auto;
}

.vision-mission .vision-mission-image {
  width: 100%;
}

.vision-mission .vision-mission-content {
  padding: 2rem;
}

.vision-mission .vision-mission-content .vision-mission-title {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.vision-mission .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about-number {
  background: url(../images/backgrounds/1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  color: #fff;
}

.about-number:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000080;
  content: "";
  z-index: 0;
}

.about-number .about-us-title {
  text-align: center;
  color: #fff;
}

.about-number .about-number-box {
  padding: 4rem 0;
}

.about-number .about-number-box .about-number-item {
  padding: 2rem;
  text-align: center;
}

.about-number .about-number-box .about-number-item .about-number-icon {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.about-number .about-number-box .about-number-item .about-number-content .about-number-numbers {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  color: #fc9416;
  margin-bottom: 1rem;
}

.about-number .about-number-box .about-number-item .about-number-content .about-number-title {
  font-size: 14px;
}

.leadership-team .leadership-team-info {
  padding-top: 2rem;
  text-align: center;
}

.leadership-team .leadership-team-info .leadership-team-name {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.leadership-team .leadership-team-info .leadership-team-position {
  font-style: italic;
}

.company-activities .company-activities-title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}

.about-us-brands .brands-sliders .brands-sliders-item .c-img {
  padding-top: 67%;
}

.service-page {
  padding: 3rem 0;
}

.service-page .service-page-desc {
  margin-bottom: 3rem;
}

.service-page .service-page-desc .service-page-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.service-page .service-item {
  margin-bottom: 3rem;
}

.service-page .service-item .service-image img {
  height: 266px;
  width: 100%;
  object-fit: cover;
}

.service-page .service-item .service-title {
  font-weight: 500;
  color: #222;
  margin-top: 10px;
}

.te-pagination {
  margin: 1rem 0 2rem 0;
  text-align: center;
}

.te-pagination a, .te-pagination strong {
  font-weight: normal;
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  line-height: 30px;
  background: #2a7f49;
  color: #fff;
}

.te-pagination a:hover, .te-pagination strong:hover {
  background-color: #EA0909;
  color: #fff;
}

.te-pagination strong {
  background: #EA0909;
  color: #fff;
}

.news-page .news-box {
  font-size: 0;
  border-bottom: 1px dashed #2a7f49;
  padding: 10px 0;
  margin-bottom: 10px;
}

.news-page .news-box:after {
  clear: both;
  content: ".";
  display: block;
  width: 0px;
  height: 0px;
}

.news-page .news-box .news-image {
  display: inline-block;
  width: 36%;
  vertical-align: top;
  position: relative;
}

.news-page .news-box .news-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.news-page .news-box .news-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.news-page .news-box .news-image:hover:before {
  top: 50%;
  bottom: 50%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  background-color: rgba(255, 255, 255, 0.5);
}

.news-page .news-box .news-image:hover:after {
  left: 50%;
  right: 50%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  background-color: rgba(255, 255, 255, 0.5);
}

.news-page .news-box .news-image .c-img {
  padding-top: 69%;
}

.news-page .news-box .news-info {
  font-size: 14px;
  display: inline-block;
  width: calc(100% - 36% - 20px);
  margin-left: 20px;
}

.news-page .news-box .news-info .news-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 10px;
  display: inline-block;
  line-height: 22px;
}

.news-page .news-box .news-info .news-desc {
  color: #717171;
  margin-bottom: 10px;
}

.news-page .news-box .news-views-time .news-views, .news-page .news-box .news-views-time .news-time {
  color: #888;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  vertical-align: top;
}

.news-page .news-box .news-views-time .news-time {
  padding-left: 2rem;
}

.news-page .news-box .view-more {
  float: right;
  margin-top: 10px;
}

.news-page .news-box .view-more a {
  color: #fff;
  background: #45B36A;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border: 0;
  outline: 0;
  font-size: 1em;
  padding: 7px 20px;
  display: inline-block;
  -ms-transform: skew(-22.5deg);
  -webkit-transform: skew(-22.5deg);
  transform: skew(-22.5deg);
}

.news-page .news-box .view-more a:hover {
  background-color: #EA0909;
  color: #fff;
}

.news-page .news-box .view-more span {
  transform: skew(22.5deg);
  -ms-transform: skew(22.5deg);
  -webkit-transform: skew(22.5deg);
  transform: skew(22.5deg);
  display: inline-block;
}

.news-page .lastest-news-bigtitle {
  font-size: 1.8rem;
  color: #000;
  line-height: 4.4rem;
  height: 4.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  position: relative;
}

.news-page .lastest-news-bigtitle span {
  display: inline-block;
  font-size: 16px;
  z-index: 10;
  margin: 0;
  line-height: 21px;
  background: #2a7f49;
  font-weight: 700;
  padding: 10px 15px;
  color: #fff;
  position: relative;
  border-radius: 20px;
  -webkit-box-shadow: #dedede 0 5px 10px;
  box-shadow: #dedede 0 5px 10px;
}

.news-page .lastest-news-bigtitle:before {
  content: "";
  display: block;
  position: absolute;
  background: url(../images/another/bg-title.png);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  z-index: 9;
  background-color: #fff;
}

.news-page .lastest-news-bigtitle:after {
  width: 100%;
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  border-top: 1px dashed #2a7f49;
}

.news-page .lastest-news .lastest-news-item {
  font-size: 0;
  clear: both;
  float: left;
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: 1px solid #ddd;
}

.news-page .lastest-news .lastest-news-item .lastest-news-image {
  width: 70px;
  height: 70px;
  display: inline-block;
}

.news-page .lastest-news .lastest-news-item .lastest-news-image img {
  object-fit: cover;
}

.news-page .lastest-news .lastest-news-item .lastest-news-info {
  display: inline-block;
  width: calc(100% - 80px);
  padding-left: 1rem;
  vertical-align: top;
  font-size: 15px;
  color: #222;
}

.news-page .news-page-posters {
  margin-top: 2rem;
}

.news-page .news-page-posters .poster-item {
  margin-bottom: 2rem;
}

.news-page .news-page-posters .poster-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.news-page .te-pagination {
  margin-top: 3rem;
}

.news-detail {
  margin: 2rem 0;
}

.news-detail .news-detail-title {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: trirong-regular;
  color: #4B4B4B;
  margin-bottom: 2rem;
}

.news-detail .news-views-time {
  margin-bottom: 1.5rem;
}

.news-detail .news-views-time .news-views, .news-detail .news-views-time .news-time {
  color: #888;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  vertical-align: top;
}

.news-detail .news-views-time .news-time {
  padding-left: 2rem;
}

.news-detail .news-detail-content {
  margin-bottom: 2rem;
}

.contact-page {
  padding-top: 3rem;
}

.contact-page .contact-title {
  margin-bottom: 1rem;
  text-transform: inherit;
}

.contact-page .contact-form {
  margin-bottom: 3rem;
}

.contact-page .contact-form label {
  font-weight: 700;
  margin-bottom: 1rem;
}

.contact-page .contact-form input, .contact-page .contact-form textarea {
  display: block;
  width: 100%;
  min-height: 40px;
  padding: .375rem .75rem;
  font-size: 14px;
  line-height: 21px;
  color: #4B4B4B;
  background-color: #fff;
  border: #dedede 1px solid;
  background-image: none;
  margin: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
  box-shadow: unset;
}

.contact-page .contact-form input:focus, .contact-page .contact-form textarea:focus {
  border: 2px solid #000;
}

.contact-page .contact-form textarea {
  resize: none;
  height: 10rem;
}

.contact-page .contact-form button[type="submit"] {
  border: medium none;
  float: none;
  padding: 10px 30px;
  line-height: 18px;
  font-weight: 500;
  color: #fff !important;
  position: relative;
  background: #45B36A;
}

.contact-page .contact-form button[type="submit"]:hover {
  background: #222;
}

.contact-page .contact-item {
  margin-bottom: 2rem;
}

.contact-page .contact-item span {
  display: inline-block;
  font-size: 15px;
  color: #1f1f1f;
  line-height: 1.1;
  float: left;
  margin-right: 1rem;
}

.contact-page .contact-item p {
  float: left;
  color: #4B4B4B;
}

@media all and (min-width: 1200px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  html {
    font-size: 9px;
  }
  .home-service .service-list .service-item {
    width: calc(100%/3 - 10px);
  }
  .home-grateful .customer-info-box .customer-avatar {
    height: 10.8rem;
    max-width: 14.4rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 8px;
  }
  header .navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 15px;
    z-index: 999999;
    color: #fff;
    margin: 0px;
    display: block;
    color: #000;
    font-size: 25px;
    margin-top: 8px;
  }
  header .header-top {
    display: none;
  }
  header .header-middle {
    margin-top: 10px;
  }
  header .header-middle .header-logo {
    text-align: center;
    margin-bottom: 10px;
  }
  header .header-middle .header-logo img {
    max-height: 42px;
  }
  header .header-middle .header-hotline {
    display: none;
  }
  header .header-menu {
    background-color: #333;
    position: fixed;
    top: 0px;
    left: 0;
    background-color: #333333;
    bottom: 0px;
    width: 280px;
    padding: 10px;
    z-index: 999999;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    border: 1px solid #e6e6e6;
  }
  header .header-menu.show-megamenu {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  header .header-menu .container {
    width: auto;
    padding: 0;
  }
  header .header-menu #remove-menu {
    padding: 10px;
    z-index: 10;
    cursor: pointer;
    display: block !important;
    text-align: right;
  }
  header .header-menu .main-nav ul li .show-submenu-btn {
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    top: 0;
    z-index: 10;
    padding: 0;
    cursor: pointer;
    margin-right: 10px;
    right: -10px;
    left: auto;
    height: 29.6px;
    background-color: #666;
    color: #fff;
    width: 30px;
    text-align: center;
    line-height: 29.6px;
  }
  header .header-menu .main-nav ul li .show-submenu-btn.active:before {
    content: "\f068";
  }
  header .header-menu .main-nav > ul > li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
    float: none !important;
    width: auto;
    background: none;
    position: relative;
    margin: 0px -1px;
  }
  header .header-menu .main-nav > ul > li > a {
    font-weight: 700;
    padding: 9px;
    padding-left: 0;
  }
  header .header-menu .main-nav > ul > li > ul.sub-menu.active {
    display: block;
    position: static;
  }
  header .header-menu .main-nav > ul > li > ul.sub-menu li {
    border-bottom: unset;
  }
  header .header-menu .main-nav > ul > li > ul.sub-menu a {
    color: #fff !important;
  }
  header .header-menu .main-nav ul li:hover > ul {
    display: unset;
  }
  header .main-nav > ul ul {
    pointer-events: all;
    position: static !important;
  }
  .home-introduce .introduce-image {
    display: none;
  }
  .history-begin .tree-diagram-history .tree-diagram-list .tree-diagram-item {
    padding: 2rem;
  }
  .vision-mission .row .col-md-6 {
    width: 50%;
  }
  .leadership-team {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .leadership-team .leadership-team-info {
    margin-bottom: 2rem;
  }
  .news-page .news-page-posters {
    font-size: 0;
  }
  .news-page .news-page-posters .poster-item {
    width: 50%;
    display: inline-block;
  }
  .news-page .news-page-posters .poster-item:nth-child(odd) {
    padding-right: 1rem;
  }
  .news-page .news-page-posters .poster-item:nth-child(even) {
    padding-left: 1rem;
  }
  .news-page .lastest-news-bigtitle {
    height: auto;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  footer .footer-info-list {
    margin-bottom: 1.5rem;
  }
  .news-page .lastest-news .lastest-news-item {
    clear: none;
    display: inline-block;
    width: 50%;
  }
  .news-page .lastest-news .lastest-news-item:nth-child(odd) {
    padding-right: 1rem;
  }
  .news-page .lastest-news .lastest-news-item:nth-child(even) {
    padding-left: 1rem;
  }
}

@media (max-width: 768PX) {
  .home-service .service-list .service-item {
    width: calc(100%/2 - 10px);
  }
  .home-news .hot-news-detail {
    margin-bottom: 1.5rem;
  }
  .home-news .hot-news-image img {
    max-height: 300PX;
  }
  footer {
    padding-bottom: 3rem;
  }
  footer div[class^="col"]:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .home-news .small-news .small-news-info .small-news-desc {
    display: block;
  }
  .history-begin .tree-diagram-history .tree-diagram-list .tree-diagram-item:nth-child(even) .diagram-body {
    padding-left: 0;
  }
  .history-begin .tree-diagram-history .tree-diagram-list .tree-diagram-item .diagram-body {
    width: 100%;
    padding: 0;
  }
  .history-begin .tree-diagram-history .tree-diagram-list .tree-diagram-item .diagram-body:before, .history-begin .tree-diagram-history .tree-diagram-list .tree-diagram-item .diagram-body:after {
    content: none;
  }
  .about-us-brands .brands-sliders .brands-sliders-item .c-img {
    padding-top: 50%;
  }
}

@media (max-width: 470px) {
  footer .footer-info-list {
    display: none;
  }
  footer .footer-info-title {
    font-size: 14px;
    position: relative;
    border-bottom: 1px solid #fff;
    padding: 0 0 10px 10px;
    cursor: pointer;
    margin-top: 0;
  }
  footer .footer-info-title:before {
    content: "\f107";
    display: block;
    font-family: fontawesome;
    position: absolute;
    top: 0;
    right: 10px;
  }
  footer .footer-info-title.active:before {
    content: "\f106";
  }
  .vision-mission .row .col-md-6 {
    width: 100%;
  }
  .vision-mission .flex-sm-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }
  .col-xxs-12 {
    width: 100%;
  }
  .news-page .news-page-posters {
    font-size: 0;
  }
  .news-page .news-page-posters .poster-item {
    width: 100%;
  }
  .news-page .news-page-posters .poster-item:nth-child(odd) {
    padding-right: 0;
  }
  .news-page .news-page-posters .poster-item:nth-child(even) {
    padding-left: 0;
  }
}
